Updater/UpdaterClient/UpdaterClient/Web References/UpdatesServer/Updates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetServerAppManifest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppFolderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerAppManifestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerAppManifestResult" type="tns:ArrayOfFileItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFileItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FileItem" nillable="true" type="tns:FileItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FileItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="MD5" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:FileType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FileType">
        <s:restriction base="s:string">
          <s:enumeration value="Directory" />
          <s:enumeration value="File" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUpdateUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AppFolderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remoteFiles" type="tns:ArrayOfFileItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateUrlResult" type="tns:UpdateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PublishedVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateZipURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SizeInBytes" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUpdateAvailable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfFileItem" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerAppManifestSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerAppManifest" />
  </wsdl:message>
  <wsdl:message name="GetServerAppManifestSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerAppManifestResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateUrl" />
  </wsdl:message>
  <wsdl:message name="GetUpdateUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetServerAppManifest">
      <wsdl:input message="tns:GetServerAppManifestSoapIn" />
      <wsdl:output message="tns:GetServerAppManifestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateUrl">
      <wsdl:input message="tns:GetUpdateUrlSoapIn" />
      <wsdl:output message="tns:GetUpdateUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerAppManifest">
      <soap:operation soapAction="http://tempuri.org/GetServerAppManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateUrl">
      <soap:operation soapAction="http://tempuri.org/GetUpdateUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerAppManifest">
      <soap12:operation soapAction="http://tempuri.org/GetServerAppManifest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateUrl">
      <soap12:operation soapAction="http://tempuri.org/GetUpdateUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4516/UpdatesServer/Updates.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4516/UpdatesServer/Updates.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>